@font-face {
  font-family: "Inconsolata";
  font-weight: 400;
  src: url(./assets/fonts/inconsolata/static/Inconsolata-Regular.ttf)
    format("truetype");
}
@font-face {
  font-family: "Inconsolata";
  font-weight: 700;
  src: url(./assets/fonts/inconsolata/static/Inconsolata-Bold.ttf)
    format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url(./assets/fonts/inter/static/Inter-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url(./assets/fonts/inter/static/Inter-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Lora";
  font-weight: 400;
  src: url(./assets/fonts/lora/static/Lora-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Lora";
  font-weight: 700;
  src: url(./assets/fonts/lora/static/Lora-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Lora";
  font-weight: 700;
  font-style: italic;
  src: url(./assets/fonts/lora/static/Lora-BoldItalic.ttf) format("truetype");
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: var(--font-family);
}

html {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

:root {
  --black: hsl(0, 0%, 2%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-700: hsl(0, 0%, 18%);
  --grey-500: hsl(0, 0%, 23%);
  --grey-300: hsl(0, 0%, 46%);
  --grey-100: hsl(0, 0%, 91%);
  --offwhite: hsl(0, 0%, 96%);
  --white: hsl(0, 0%, 100%);
  --purple: hsl(274, 82%, 60%);
  --red: hsl(0, 100%, 66%);

  --font-family: '"Inter", "sans-serif"';

  /* Body Custom Properties */
  --body-bg-color: var(--white);
  --body-text-color: var(--grey-700);

  /* Toggle Custom Properties */
  --toggle-bg-color: var(--grey-300);

  /* Search Bar Custom Properties */
  --search-bar-bg-color: var(--offwhite);
  --search-bar-text-color: var(--grey-700);

  /*  partOFSpeech Custom Properties */
  --partsOfSpeech-hr: var(--grey-100);

  /* Font Size Custom Properties */
  --font-300: 0.875rem;
  --line-height-300: 1.215em;
  --font-400: 1.125rem;
  --line-height-400: 1.35em;
  --font-500: 1.25rem;
  --line-height-500: 1.2em;
  --font-600: 1.5rem;
  --line-height-600: 1.2em;
  --font-700: 4rem;
  --line-height-700: 1.2em;
}

:root:has(input.color-theme-toggle:checked) {
  /* Body Custom Properties */
  --body-bg-color: var(--black);
  --body-text-color: var(--white);

  /* Toggle Custom Properties */
  --toggle-bg-color: var(--purple);

  /* Search Bar Custom Properties */
  --search-bar-bg-color: var(--grey-800);
  --search-bar-text-color: var(--white);

  /*  partOFSpeech Custom Properties */
  --partsOfSpeech-hr: var(--grey-500);
}

body {
  font-family: var(--font-family);
  color: var(--body-text-color);
  background-color: var(--body-bg-color);
}
