@font-face {
  font-family: "Inconsolata";
  font-weight: 400;
  src: url(./assets/fonts/inconsolata/static/Inconsolata-Regular.ttf)
    format("truetype");
}
@font-face {
  font-family: "Inconsolata";
  font-weight: 700;
  src: url(./assets/fonts/inconsolata/static/Inconsolata-Bold.ttf)
    format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url(./assets/fonts/inter/static/Inter-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url(./assets/fonts/inter/static/Inter-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Lora";
  font-weight: 400;
  src: url(./assets/fonts/lora/static/Lora-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Lora";
  font-weight: 700;
  src: url(./assets/fonts/lora/static/Lora-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Lora";
  font-weight: 700;
  font-style: italic;
  src: url(./assets/fonts/lora/static/Lora-BoldItalic.ttf) format("truetype");
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

:root {
  --black: hsl(0, 0%, 2%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-700: hsl(0, 0%, 18%);
  --grey-500: hsl(0, 0%, 23%);
  --grey-300: hsl(0, 0%, 46%);
  --grey-100: hsl(0, 0%, 91%);
  --offwhite: hsl(0, 0%, 96%);
  --white: hsl(0, 0%, 100%);
  --purple: hsl(274, 82%, 60%);
  --red: hsl(0, 100%, 66%);

  --font-family: '"Inter", "sans-serif"';
}

body {
  font-family: var(--font-family);
}
